.kanban-dropzone {
    height: 10px;
    transition: background .15s, height .15s;
}

.kanban-dropzone--active {
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
}

.card {
    height: 700px!important;
}